@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">
</head>
<body>
    <div class="outerhtml center">
        <div class="error">
            <div class="number">4</div>
            <div class="illustration">
                <div class="circle"></div>
                <div class="clip">
                    <div class="paper">
                        <div class="face">
                            <div class="eyes">
                                <div class="eye eye-left"></div>
                                <div class="eye eye-right"></div>
                            </div>
                            <div class="rosyCheeks rosyCheeks-left"></div>
                            <div class="rosyCheeks rosyCheeks-right"></div>
                            <div class="mouth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="number">4</div>
        </div>
        <div class="text">Oops. The page you're looking for doesn't exist.</div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
        {
            <a class="button" href="/User/Index">Back Home</a>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
        {
            <a class="button" href="/Admin/Index">Back Home</a>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a class="button" href="/Admin/Index">Back Home</a>
        }
        else
        {
            <a class="button" href="/Home/Index">Back Home</a>
        }

    </div>
</body>
</html>

