<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>Notes Marketplace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Front/images/favicon/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

</head>

<body>

    <!-- Header Section -->
    <section id="general-header">

        <!-- Navigation Panel-->
        <nav class="navbar fixed-top navbar-expand-lg">

            <div class="container">

                <!-- Navbar Top Logo -->
                <a class="navbar-brand" href="home.html">
                    <img src="images/homepage/logo.png" alt="top-logo">
                </a>

                <!-- Mobile Menu Button-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu-navbar" aria-controls="mobile-menu-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span id=mobile-menu-button>
                        <i class="fa fa-bars"></i>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="mobile-menu-navbar">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="search_page.html">Search Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard_1.html">Sell Your Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="buyer_request.html">Buyer Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="FAQ_page.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact_us_page.html">Contact Us</a>
                        </li>
                        <li class="nav-item">

                            <!-- Dropdown Menu Under User Icon-->
                            <div class="dropdown-menu-profiles">
                                <a class="user-icon-profile nav-link" href="#"><img src="images/User-Profile/user-img.png" alt="customer-image"></a>
                                <div class="dropdown-box">
                                    <a href="user_profile.html">My Profile</a>
                                    <a href="my_downloads.html">My Download</a>
                                    <a href="my_sold_notes.html">My Sold Notes</a>
                                    <a href="my_rejected_notes.html">My Rejected Notes</a>
                                    <a href="change_password.html">Change Password</a>
                                    <a href="#">logout</a>
                                </div>
                            </div>

                        </li>
                    </ul>

                    <!-- Logout Button-->
                    <div class="log-in-out-btn">
                        <a href="login.html"><button>Logout</button></a>
                    </div>

                </div>
            </div>
        </nav>
        <!-- Navigation Section Ends -->

    </section>
    <!-- Header Section Ends -->
    <!-- FAQ Section -->
    <div id="generic-container">

        <div id="component-box">

            <div id="faq-container">

                <!-- Background image with some text -->
                <div class="general-bg-img">
                    <h3 class="text-center">Frequently Asked Questions</h3>
                </div>

                <div class="container">

                    <div class="faq-wrapper">
                        <div class="horizontal-heading-sm faq-heading">
                            <h3>General Questions</h3>
                        </div>
                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">What is Marketplace-Notes ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>Notes Marketplace is an online marketplace for university students to buy and sell their course notes.</p>
                            </div>
                        </div>
                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">Where did Notes Marketplace start ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>What started out as four friends chucking around an idea in Ahmedabad ended up turning into an earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.</p>
                            </div>
                        </div>
                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">Is this legal ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque accusantium placeat sint repellat hic accusamus et vel animi.</p>
                            </div>
                        </div>


                    </div>
                    <div class="faq-wrapper">
                        <div class="horizontal-heading-sm faq-heading">
                            <h3>Uploaders</h3>
                        </div>

                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key"> Why should I upload now ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>
                                    To maximize sales. We can't sell your notes if they are rotting on your hard drive. Your notes are available for purchase the instant they are approved, which means that you could be missing potential sales as we speak. Despite exam and holiday breaks, our users purchase notes all year round, so the best time to upload notes is always today.
                                </p>
                            </div>
                        </div>

                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">What can't I sell ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>We won't approve materials that have been created by your university or another third party. We also do not accept assignments, essays, practical’s or take-home exams. We love notes though.</p>
                            </div>
                        </div>

                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">What notes can I sell ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores veritatis dolorem dolores, vel rem aliquid saepe veniam recusandae corporis esse. Accusamus ipsa maxime culpa ea, doloribus maiores aut repudiandae et!</p>
                            </div>
                        </div>

                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">How long does it take to upload?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>Uploading notes is quick and easy. It can take as little as 90 seconds per set of notes. Put it this way, in the time it took to read these FAQs, you could’ve uploaded several sets of notes.</p>
                            </div>
                        </div>

                    </div>

                    <div class="faq-wrapper">
                        <div class="horizontal-heading-sm faq-heading">
                            <h3>Downloaders</h3>
                        </div>

                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">How do I buy notes ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page. You can then filter results by university, category, course information etc. To purchase, go to detail page of note and click on download button. If notes are free to download – it will download over the browser and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for actual download.</p>
                            </div>
                        </div>

                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">Why should I buy notes ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>The notes on our site are incredibly useful as an educational tool when used correctly. They effectively demonstrate the techniques that top students employ in order to receive top marks. They also summaries the course in a concise format and show what that student believed were the most important elements of the course. Learn from the best.</p>
                            </div>
                        </div>

                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">Will downloading notes guarantee I improve my grades ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>How long is a piece of string? However, 90% of students who purchased notes through our site said that doing so improved their grades.</p>
                            </div>
                        </div>

                        <div class="faq-wrap">
                            <a href="#" class="faq-toggle-key">Can I edit notes I purchased ?<span><i class="fa fa-plus"></i></span></a>
                            <div class="faqanswer">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quam laudantium, debitis hic velit aspernatur facere atque facilis, expedita perspiciatis non, iste quibusdam. Odio sequi velit tempora aperiam cupiditate! Voluptatum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div id="text-area" class="col-md-8 col-sm-8">
                    <p>Copyright <i class="fa fa-copyright"></i> TatvaSoft All rights reserved.</p>
                </div>
                <div id="icon-area" class="col-md-4 col-sm-4">

                    <!--  Social Icons  -->
                    <ul class="social-list">
                        <li>
                            <a href="https://www.facebook.com/TatvaSoft">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/tatvasoft">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/company/tatvasoft">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    
    <!-- Jquery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>