@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>Notes Marketplace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Front/images/favicon/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

</head>

<body>

    <header class="navbar-transparent">

        <!-- Navigation Panel-->
        <nav class="navbar fixed-top navbar-expand-lg">

            <div class="container">

                <!-- Navbar Top Logo -->
                <a class="navbar-brand logo-changer" href="home.html">
                    <img src="images/homepage/logo.png" alt="">
                </a>

                <!-- Mobile Menu Button-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu-navbar" aria-controls="mobile-menu-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span id=mobile-menu-button>
                        <i class="fa fa-bars"></i>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="mobile-menu-navbar">

                    <ul class="navbar-nav home-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="search_page.html">Search Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="add_notes.html">Sell Your Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="FAQ_page.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact_us_page.html">Contact Us</a>
                        </li>
                    </ul>

                    <div class="home-nav log-in-out-btn">
                        <a href="login.html"><button>Login</button></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Home -->
    <section id="home">

        <!-- Backgroung image -->
        <div id="background-img">

            <div class="container">

                <!-- Home Content -->
                <div id="home-content">
                    <div id="home-content-inner">

                        <div id="home-heading">
                            <h1 id="home-heading-1">Download Free/Paid Notes <br> or Sale your Book</h1><br>
                        </div>

                        <div id="home-text">
                            <p>
                                Lorem ipsum has been the industry's standard dummy text ever since the<br>1500s, when an
                                unknown printer took a gallery of type
                            </p>
                        </div>

                        <div id="home-btn">
                            <a href="FAQ_page.html"><button class="btn-home">learn more</button></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <!-- Home End -->
    <!-- About -->
    <section id="about">

        <div class="content-box-lg">
            <div class="container">
                <div class="row">

                    <!-- About left -->
                    <div class="col-md-4">
                        <div id="about-left">
                            <div class="horizontal-heading">
                                <h3>About<br>NotesMarketPlace</h3>
                            </div>
                        </div>
                    </div>

                    <!-- About Right -->
                    <div class="col-md-8">
                        <div class="about-right">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium officiis vero ipsum nihil quo amet odio minus, ipsum nihil quo amet in omnis recusandae minima voluptate, ea eos dicta iste sint excepturi consectetur.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt magnam quasi dicta sed placeat perspiciatis! Laudantium inventore vero commodi. Natus aspernatur tenetur, delectus nostrum. Natus adipisci maiores doloribus, vero molestiae.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- About End -->
    <!-- Work -->
    <section id="work">
        <div class="content-box-lg-gray">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-heading text-center">
                            <h3>How it Works</h3>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- work left -->
                    <div class="col-md-6 text-center">

                        <div id="work-left">

                            <div class="work-logo">
                                <img src="images/homepage/download.png" alt="download-logo">
                            </div>

                            <div class="work-heading">
                                <h3>Download Free/Paid Notes</h3>
                            </div>

                            <div class="work-detail">
                                <p>Get Material for your<br>Cource etc.</p>
                            </div>

                            <div class="work-button">
                                <a href="search_page.html"><button>download</button></a>
                            </div>

                        </div>
                    </div>

                    <!-- work Right -->
                    <div class="col-md-6 text-center">

                        <div id="work-right">

                            <div class="work-logo">
                                <img src="images/homepage/seller.png" alt="download-logo">
                            </div>

                            <div class="work-heading">
                                <h3>Seller</h3>
                            </div>

                            <div class="work-detail">
                                <p>Upload and Download Cource<br>and Material etc.</p>
                            </div>

                            <div class="work-button">
                                <a href="dashboard_1.html"><button>sell book</button></a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Work End -->
    <!-- Customer -->
    <section id="customer">
        <div class="content-box-lg">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-heading text-center">
                            <h3>What our Customers are Saying</h3>
                        </div>
                    </div>
                </div>

                <div id="testimonials">

                    <div class="row first-row">
                        <div class="col-md-6">

                            <!-- Testimonial 01 -->
                            <div class="testimonial">

                                <div class="author">

                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <img src="images/homepage/customer-1.png" alt="client" class="img-responsive img-circle">
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <div class="author-name-des">
                                                <h3>Walter Meller</h3>
                                                <h5>Founder &amp; CEO, Matrix Group</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="detail">
                                        <div class="col-md-12">
                                            <p><i>''Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quae, debitis eum eius, optio facere veritatis iste magnam quas molestias, animi obcaecati neque modi quia minima dolorem voluptatum aliquid hic.''</i></p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <!-- Testimonial 02 -->
                            <div class="testimonial">

                                <div class="author">

                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <img src="images/homepage/customer-2.png" alt="client" class="img-responsive img-circle">
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <div class="author-name-des">
                                                <h3>Jonnie Riley</h3>
                                                <h5>Employee, Courious Snakcs</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="detail">
                                        <div class="col-md-12">
                                            <p><i>''Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quae, debitis eum eius, optio facere veritatis iste magnam quas molestias, animi obcaecati neque modi quia minima dolorem voluptatum aliquid hic.''</i></p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <!-- Testimonial 03 -->
                            <div class="testimonial">

                                <div class="author">

                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <img src="images/homepage/customer-3.png" alt="client" class="img-responsive img-circle">
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <div class="author-name-des">
                                                <h3>Amilia Luna</h3>
                                                <h5>Teacher, Saint joseph High School</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="detail">
                                        <div class="col-md-12">
                                            <p><i>''Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quae, debitis eum eius, optio facere veritatis iste magnam quas molestias, animi obcaecati neque modi quia minima dolorem voluptatum aliquid hic.''</i></p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <!-- Testimonial 04 -->
                            <div class="testimonial">

                                <div class="author">

                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-6">
                                            <img src="images/homepage/customer-4.png" alt="client" class="img-responsive img-circle">
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-6">
                                            <div class="author-name-des">
                                                <h3>Daniel Cardos</h3>
                                                <h5>Software Engineer, infinitum Company</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="detail">
                                        <div class="col-md-12">
                                            <p><i>''Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quae, debitis eum eius, optio facere veritatis iste magnam quas molestias, animi obcaecati neque modi quia minima dolorem voluptatum aliquid hic.''</i></p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Customer End -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div id="text-area" class="col-md-8 col-sm-8">
                    <p>Copyright <i class="fa fa-copyright"></i> TatvaSoft All rights reserved.</p>
                </div>
                <div id="icon-area" class="col-md-4 col-sm-4">

                    <!--  Social Icons  -->
                    <ul class="social-list">
                        <li>
                            <a href="https://www.facebook.com/TatvaSoft">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/tatvasoft">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/company/tatvasoft">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Jquery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>