<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>Notes Marketplace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Front/images/favicon/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

</head>

<body>

    <header class="navbar-transparent">

        <!-- Navigation Panel-->
        <nav class="navbar fixed-top navbar-expand-lg">

            <div class="container">

                <!-- Navbar Top Logo -->
                <a class="navbar-brand logo-changer" href="home.html">
                    <img src="images/homepage/logo.png" alt="">
                </a>

                <!-- Mobile Menu Button-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu-navbar" aria-controls="mobile-menu-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span id=mobile-menu-button>
                        <i class="fa fa-bars"></i>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="mobile-menu-navbar">

                    <ul class="navbar-nav home-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="search_page.html">Search Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="add_notes.html">Sell Your Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="FAQ_page.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact_us_page.html">Contact Us</a>
                        </li>
                    </ul>

                    <div class="home-nav log-in-out-btn">
                        <a href="login.html"><button>Login</button></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div id="text-area" class="col-md-8 col-sm-8">
                    <p>Copyright <i class="fa fa-copyright"></i> TatvaSoft All rights reserved.</p>
                </div>
                <div id="icon-area" class="col-md-4 col-sm-4">

                    <!--  Social Icons  -->
                    <ul class="social-list">
                        <li>
                            <a href="https://www.facebook.com/TatvaSoft">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/tatvasoft">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://in.linkedin.com/company/tatvasoft">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- Jquery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>