@model NotesMarketplace.Models.ForgotPassword
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>Forgot Password</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Front/images/favicon/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

</head>

<body>

    <section id="forgot-password-page">

        <div class="login-general-box">

            <div class="login-wrapper">

                <div id="top-logo" class="text-center">
                    <img src="~/Content/Front/images/login/top-logo.png" class="img-responsive" alt="top-logo">
                </div>

                <div id="login-form-container" class="generic-form">

                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { }))
                    {
                        <h3 class="text-center">Forgot Password?</h3>
                        <p class="text-center">Enter your email to reset your password</p>
                        if (@TempData["Error"] != null)
                        {
                            <h6 class="text-danger">@TempData["Error"]</h6>
                        }
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @placeholder = "Enter Your Email" })
                            <small>@Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger error-message" })</small>
                        </div>

                        <button type="submit" class="btn btn-general" id="forgot-submit-btn" href="#" title="SUBMIT" role="button"><span>Submit</span></button>
                    }

                </div>

            </div>

        </div>

    </section>

    <!-- Jquery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>